
@media screen and (max-width:576px) {
    .nav-hamburger-menu{
        display: block;

    }   
    .nav-links{
        display: none;
    } 
    .banner-container{
        flex-direction: column;

     }
    .card-1{
        top: 18%;
        left: 55%;
      
    }
    .card-2{
        top: 70%;
        left: 17%;

    }
    .habits-heading{
        margin-left: 0px;
        width:480px;
        text-align: left;  
    }
    .habits-content{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
       
    }
    .habit{
        width: 30%;
        display: flex;
        flex-direction: column;
        text-align: center;
        
       
    }
    .habit img{
        margin-left: 40px;
        width: 60%;
    }
    .run-container{
      flex-direction: column;
    }
    .run-img img{
        width: 80%;
        border-radius: 15px;
    }
    .healthy-eating-img{
        flex-direction: column;
     }
     .image-1{
        width: 80%;
     }
     .image-2{
        width: 80%;
     }
    .healthy-eating{
        width: 500px;
        text-align: justify;
       
    }
    .healthy-heading-title{
       text-align: left;
    }

    .bmi-container{
        flex-direction: column;
    }
    .bmi-chart{
        margin-left: 0px; 
    }
    .bmi-calculate{
        padding-left: 0px;
    }
    .team-content{
        grid-template-columns: repeat(1, 1fr);
    }
    .team-member img{
        width: 306.67px;
        height: 252px;
        width: 45%;
       
    }
    .team-heading{
        width:480px;
        margin-left: 0px;
        text-align: left;  
    }

    .footer-container{
       flex-direction: column;
    }
    .footer-right{
        flex-direction: column;
     }

}